.footer {
  background-color: $bgColorDark;
  &__title {
    @include footerCenter;
    color: $colorWhite;
    font-size: 16px;
  }
  &__text {
    color: $maineColor;
    text-align: center;
    box-sizing: border-box;
    line-height: 2;
  }
  &-social__contacts {
    color:  $maineColor;
    @include flex-center;
    flex-direction: column;

  }
  &-social-links {
    margin-bottom: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .footer-social__icon {
      border-radius: 50%;
      padding: 10px;
      display: inline-block;
      text-decoration: none;
      margin-right: 9px;
    }
    .footer-social__icon--rss-icon {
      color: #c6762b;
      border: 1px solid #c6762b;
    }

    .footer-social__icon--facebook-icon {
      color: #334c82;
      border: 1px solid #334C82;
    }

    .footer-social__icon--tumblr-icon {
      color: #3c8eb6;
      border: 1px solid #3C8EB6;
    }

    .footer-social__icon--dribbble-icon {
      color: #ae658f;
      border: 1px solid #AE658F;
    }

    .footer-social__icon--pinterest-icon {
      color: #a42129;
      border: 1px solid #A42129;
    }
  }
}
@media (min-width: 320px) {
  .container {
    @include containerMobile;
  }
  .footer {
    padding: 38px 0 47px 0;
    &__title {
      margin-bottom: 8px;
    }
    &__text {
      margin: 0 auto 26px;
      width: 100%;
      font-size: 12px;
    }
  }

  .footer-social__contacts {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 481px) {
  .container{
    @include containerTablet
  }
  .footer {
    padding: 57px 0 56px 0;
    &__title {
      margin-bottom: 22px;
    }
    &__text {
      width: 97%;
      font-size: 17px ;
    }
  }
  .footer-social__contacts {
    font-size: 16px;
  }

}
@media (min-width: 993px) {
  .container {
    @include containerLaptop
  }
  .footer {
    padding: 66px 0 70px 0;
    &__text {
      margin: 0 auto 37px;
      width: 60%;
    }
  }
}