body {
  font-family: 'Roboto', sans-serif;;
}
.container {
  @include containerMobile;
}
.header__nav {
@include flexEnd;
  position: relative;
  margin: 23px 0 23px 0;
}
.header__img {
  background: url("../img/header_img/header_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 150px;
}


@media (min-width: 320px) {
  .burger-menu {
    position: relative;
    height: 37px;
    width: 44px;
    background:$bgColorDark;
   & span {
      position: absolute;
      background-color: $bgColorWhite;
      width: 50%;
      height: 2px;
      top: 17px;
      left: 11px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      content: "";
      background-color: $bgColorWhite;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 11px;
      transition: all 0.3s ease 0s;
    }
    &::after {
      content: "";
      background-color: $bgColorWhite;
      position: absolute;
      width: 50%;
      height: 2px;
      left: 11px;
      top: 23px;
      transition: all 0.3s ease 0s;
    }
    &::before {
      top: 11px;
      right: 0;
    }
    &::after {
      bottom: 0;
    }
    &.show:before {
      transform: rotate(45deg);
      top: 18px;
      left: 12px;
    }
    &.show:after {
      transform: rotate(-45deg);
      left: 11px;
      top: 18px;
    }
    &.show span {
      transform: scale(0);
    }

  }
  .header__link {
    padding: 0 81px 0 12px;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    color:$titleColor;
  }
  .menu-wrap {
    position: absolute;
    top: -232px;
    transition: all 0.6s ease 0s;
    &.show {
      top: 38px;
    }
    .header__menu {
      background-color: white;
      margin-right: -1px;
      .header__item {
        @include menuNav;
        padding: 6px 0 7px 0;
      }
      .header__item:hover {
        background-color: #F5F5F5;
      }
      .header__item--shadow {
        box-shadow: 0 1px 2px -1px rgba(5, 5, 5, 0.12)
      }
    }
  }
  .header__link--color {
    color: #57A4A4;
  }
}
@media (min-width: 481px) {
  .burger-menu {
    display: none;
  }
  .container {
    @include containerTablet;
  }
  .header__nav {
    justify-content: center;
  }
  .menu-wrap {
    position: static;
    //@include flex-spAround;
  }
  .header__menu {
    display: flex;
  }
  .header__item {
    padding: 0 0 0 0;
    margin: 0 15px 0 15px;
  }
  .header__item--shadow {
    box-shadow: none;
  }
  .header__link {
    padding: 0 0 0 0;
  }
  .header__img {
    padding-top: 361px ;
  }


}
@media (min-width: 993px) {
  .container{
    @include containerLaptop;
  }
  .header__img {
    margin-top: 110px;
    padding-top: 550px ;
  }
  .header__nav {
    display: none;
  }


}