.instagram-posts {
  background-color: #F7F7F7;
  padding: 47px 0;
  &__heading {
    @include flex-spaceBetween;
  }
  &__title {
    @include fz16Bold;

  }
  &__link {
    text-decoration: none;
    @include fz16Bold
  }
  .instagram-post__item {
    text-decoration: none;
    flex: 1 1 22%;
  }
}


@media (min-width: 320px) {
  .container {
    @include containerMobile;
  }
  .instagram-posts {
    background-color: white;
    padding: 5px 0;
    &__link {
      display: none;
      font-size: 14px;
    }
    &__title {
      font-size: 14px;
    }
    &__block {
      flex-direction: column;
    }

  }
  .instagram-post__item {
  }
  .instagram-post__img {
    width: 95%;
  }
  .instagram-post__item--hide {
    display: none;
  }


}
@media (min-width: 481px) {
  .container{
    @include containerTablet
  }
  .instagram-posts {
    background-color: #F7F7F7;
    padding: 47px 0;
  }
  .instagram-post__item--hide {
    display: block;
  }
  .instagram-posts__link {
    display: block;
    margin-right: 20px;
  }
  .instagram-posts__block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .istagram-post__item--hide-tablet {
    display: none;
  }
  .instagram-posts__title {
    margin-bottom: 35px;
  }
 }
@media (min-width: 993px) {
  .container {
    @include containerLaptop
  }
  .istagram-post__item--hide-tablet {
    display: block;
  }
  .instagram-posts__title {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .instagram-posts__link {
    font-size: 16px;
  }
}