.our-posts {

  &__title {
    color: $titleColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 38px 0 23px 0;
  }
  &__info {
    font-size: 12px;
    padding-bottom: 13px;
    color: #7C7C7C;
  }
  &__text {
    display: none;
  }
  &__block {
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    margin-right: 20px;
  }
  &__subtitle {
    color:$titleColor;
    font-weight: bold;
    margin-bottom: 6px;
    line-height: 1.5;
  }
  &__flex--none {
    display: none;
  }
}
@media (min-width: 320px) {
  .container {
    @include containerMobile;
  }
  .our-posts {
    margin-bottom: 40px;
    &__subtitle {
      font-size: 14px;
      padding-top: 11px ;
    }
    &__info {
      font-size: 11px;
      padding-bottom: 28px;
    }
  }
}
@media (min-width: 481px) {
  .container{
    @include containerTablet
  }
  .our-posts {
    margin-bottom: 60px;
    &__title {
      padding: 56px 0 24px 0;
    }
    &__flex {
      box-sizing: border-box;
      margin-bottom: 24px;
      display: flex;
    }
    &__text {
      font-size: 16px;
      line-height: 1.5;
      color: #5C5C5C;
      display: block;
      width: 75%;
    }
    &__subtitle {
      font-size: 16px;
      padding-top: 0;
    }
    &__info {
      padding-bottom: 13px;
    }
  }
}
@media (min-width: 993px) {
  .container {
    @include containerLaptop
  }
  .our-posts {
    &__title {
      padding: 69px 0 43px 0;
    }
    &__block {
      flex-direction: row;
    }
    &__flex {
      flex: 1 0 412px;
    }
    &__content {
      box-sizing: border-box;
      margin-right: 28px;
    }
    &__text {
      width: 100%;
    }

  }

}