//***************GENERAL*********************
@mixin flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
}
@mixin flex-static {
  display: flex;
  position: static;
}
@mixin flex-spAround {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

@mixin  flex {
  display: flex;
  flex-wrap: wrap;
}
@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
}
@mixin  flex-spaceBetween {
  @include flex;
  justify-content: space-between;
}

@mixin containerMobile {
  max-width: 481px;
  margin: 0 23px 0 23px;
}
@mixin containerTablet {
  max-width: 981px;
  margin: 0 23px 0 23px;
}
@mixin containerLaptop {
  max-width: 1170px;
  margin: 0 auto;
}

//****************HEADER********************
//****************HEADER********************
//****************HEADER********************
@mixin menuNav {
  list-style: none;
  text-transform: uppercase;
}
//****************instagram-posts********************
//****************instagram-posts********************
//****************instagram-posts********************
@mixin fz16Bold {
  text-transform: uppercase;
  font-size: 16px;
  color: $titleColor;
   font-weight: bold;
  margin-bottom: 30px;
}
//****************footer********************
//****************footer********************
//****************footer********************
@mixin footerCenter {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}